---
const { index, title } = Astro.props;
---

<div class="md:mx-auto md:w-2/3 lg:w-full flex flex-col h-[388px] md:h-[498px] items-start justify-between bg-[#262626] p-10 rounded-3xl hover:scale-105 hover:bg-[#333333] transition-all">
    <div class="inline">
        <div class="rounded-full text-[18px] leading-[96.2%] tracking-[-4.5%] text-white/50 px-6 py-4 border-[1px] border-white/50">
            Услуга №{index}
        </div>    
    </div>

    <p class="text-[33px] sm:text-[42px] leading-[108%] tracking-[-4.5%] text-white">{title}</p>
</div>
