---
const {title} = Astro.props;
---

<div class={`circle-card -my-10 md:py-0 mx-auto sm:-ml-10 lg:-ml-[44px] flex items-center justify-center h-[370px] w-[370px] md:h-[449px] md:w-[449px] text-center border-[1px] rounded-full border-white uppercase text-[18px] leading-[120%] tracking-[3.5%]`}>
    <p class="max-w-[196px]">{title}</p>
</div>