---
import { Image } from "astro:assets";
import locationIcon from "../assets/location-icon.svg";
import phoneIcon from "../assets/phone-icon.svg";
import messageIcon from "../assets/message-icon.svg";
---

<div id="contacts" class="flex flex-col items-center justify-center px-[10px] lg:px-12 py-[56px] lg:py-[34px] z-30 contact-section">
    <h6 class="font-normal text-center text-wrap text-[28px] sm:text-[44px] lg:text-[64px] leading-[81.2%] tracking-[-4.5%]">
        Наши контактные данные    
    </h6>

    <div class="flex flex-col lg:flex-row justify-center pt-10 pb-20 gap-10 ">
        <div class="flex flex-row items-center gap-4">
            <div class="p-[19px] bg-white rounded-full transition-transform duration-300 hover:scale-110 hover:shadow-lg">
                <Image src={locationIcon} alt="Иконка местоположения"/>
            </div>
            <p class="w-[290px] text-[15px] md:text-[18px] leading-[137%] tracking-[-4.5%]">Алматы, улица Кенесары хана, 54/19</p>
        </div>
        <div class="flex flex-row items-center gap-4">
            <div class="p-[19px] bg-white rounded-full transition-transform duration-300 hover:scale-110 hover:shadow-lg" data-phone>
                <Image src={phoneIcon} alt="Иконка телефона"/>
            </div>
            <p class="text-[15px] md:text-[18px] leading-[137%] tracking-[-4.5%]">+7 777 007 0709</p>
        </div>
        <div class="flex flex-row items-center gap-4">
            <div class="p-[19px] bg-white rounded-full transition-transform duration-300 hover:scale-110 hover:shadow-lg" data-email>
                <Image src={messageIcon} alt="Иконка сообщения"/>
            </div>
            <p class="text-[15px] md:text-[18px] leading-[137%] tracking-[-4.5%]">llcmultivision@gmail.com</p>
        </div>
    </div>
</div>

<script>
    document.querySelector('[data-phone]')?.addEventListener('click', () => {
        window.location.href = 'tel:+77770070709';
    });
    
    document.querySelector('[data-email]')?.addEventListener('click', () => {
        window.location.href = 'mailto:llcmultivision@gmail.com';
    });
</script>
