---
import { Image } from "astro:assets";
import logoIcon from "../assets/logo.svg";
---

<header class="mx-auto flex flex-row justify-between items-center text-white max-w-[1340px] w-full">
    <Image src={logoIcon} alt="Multivision Логотип"/>

    <nav class="hidden md:flex font-medium gap-8 lg:gap-16 list-none tracking-[-4.5%]">
        <li class="cursor-pointer hover:text-gray-300">О нас</li>
        <li class="cursor-pointer hover:text-gray-300">Команда</li>
        <li class="cursor-pointer hover:text-gray-300">Портфолио</li>
        <li class="cursor-pointer hover:text-gray-300">Новости</li>
    </nav>

    <button class="uppercase px-[27px] md:px-11 py-[11px] md:py-[18px] text-[12px] bg-white text-black rounded-[30px] tracking-[21%] leading-[12px] shadow-header-button hover:bg-gray-200">Подать заявку</button>
</header>