---
const {tableId} = Astro.props
---

<div id={tableId} class="h-0">
    <div class="w-full  rounded-b-xl shadow-xl overflow-hidden">
        <table class="w-full text-sm text-left text-gray-300">
            <tbody class="divide-y divide-[#323232]">
                <tr class="hover:bg-[#323232] transition-colors">
                    <th class="px-6 py-4 font-medium text-gray-400">Бренд</th>
                    <td class="px-6 py-4">Multi-Vision</td>
                </tr>
                <tr class="hover:bg-[#323232] transition-colors">
                    <th class="px-6 py-4 font-medium text-gray-400">Type</th>
                    <td class="px-6 py-4">Односторонний</td>
                </tr>
                <tr class="hover:bg-[#323232] transition-colors">
                    <th class="px-6 py-4 font-medium text-gray-400">Высота</th>
                    <td class="px-6 py-4">30 см</td>
                </tr>
                <tr class="hover:bg-[#323232] transition-colors">
                    <th class="px-6 py-4 font-medium text-gray-400">Длина</th>
                    <td class="px-6 py-4">80 см</td>
                </tr>
                <tr class="hover:bg-[#323232] transition-colors">
                    <th class="px-6 py-4 font-medium text-gray-400">Материал</th>
                    <td class="px-6 py-4">ПВХ</td>
                </tr>
                <tr class="hover:bg-[#323232] transition-colors">
                    <th class="px-6 py-4 font-medium text-gray-400">Поверхность</th>
                    <td class="px-6 py-4">Самоклещаяся пленка</td>
                </tr>
                <tr class="hover:bg-[#323232] transition-colors">
                    <th class="px-6 py-4 font-medium text-gray-400">Страна</th>
                    <td class="px-6 py-4">Казахстан</td>
                </tr>
                <tr class="hover:bg-[#323232] transition-colors">
                    <th class="px-6 py-4 font-medium text-gray-400">Толщина</th>
                    <td class="px-6 py-4">8 мм</td>
                </tr>
                <tr class="hover:bg-[#323232] transition-colors">
                    <th class="px-6 py-4 font-medium text-gray-400">Фон</th>
                    <td class="px-6 py-4">Голубой окрал</td>
                </tr>
                <tr class="hover:bg-[#323232] transition-colors">
                    <th class="px-6 py-4 font-medium text-gray-400">Единица измерения</th>
                    <td class="px-6 py-4">Штука</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
